
html, body {
  height: 100%;
  margin:0;
  padding:0;
  font-family:'Raleway', sans-serif !important;
}

body {
  background-color:#EEEEEE;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family:'Raleway', sans-serif !important;
}

#root {
  background-color:#EEEEEE;
  flex:1;
  font-family:'Raleway', sans-serif !important;
}

footer {
  font-family:'Raleway', sans-serif !important;
  background-color: #424242;
  color: #EEEEEE;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
